    @using Microsoft.AspNetCore.Identity
    @inject SignInManager<IdentityUser> signInManager;

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Vaulthief</title>
        <script src="https://kit.fontawesome.com/f05688f6e0.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/output.css" />

    </head>

<body>
    <header>
        <nav class="flex pl-4 pt-2 h-14 pb-2 bg-gray-900 items-center">
            <a class="hover:scale-x-110 ease-linear duration-300" asp-controller="Home" asp-action="Index">
                <svg width="100" height="100" viewBox="0 0 283 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M141.04 16c-11.04 0-19 7.2-19 18s8.96 18 20 18c6.67 0 12.55-2.64 16.19-7.09l-7.65-4.42c-2.02 2.21-5.09 3.5-8.54 3.5-4.79 0-8.86-2.5-10.37-6.5h28.02c.22-1.12.35-2.28.35-3.5 0-10.79-7.96-17.99-19-17.99zm-9.46 14.5c1.25-3.99 4.67-6.5 9.45-6.5 4.79 0 8.21 2.51 9.45 6.5h-18.9zM248.72 16c-11.04 0-19 7.2-19 18s8.96 18 20 18c6.67 0 12.55-2.64 16.19-7.09l-7.65-4.42c-2.02 2.21-5.09 3.5-8.54 3.5-4.79 0-8.86-2.5-10.37-6.5h28.02c.22-1.12.35-2.28.35-3.5 0-10.79-7.96-17.99-19-17.99zm-9.45 14.5c1.25-3.99 4.67-6.5 9.45-6.5 4.79 0 8.21 2.51 9.45 6.5h-18.9zM200.24 34c0 6 3.92 10 10 10 4.12 0 7.21-1.87 8.8-4.92l7.68 4.43c-3.18 5.3-9.14 8.49-16.48 8.49-11.05 0-19-7.2-19-18s7.96-18 19-18c7.34 0 13.29 3.19 16.48 8.49l-7.68 4.43c-1.59-3.05-4.68-4.92-8.8-4.92-6.07 0-10 4-10 10zm82.48-29v46h-9V5h9zM36.95 0L73.9 64H0L36.95 0zm92.38 5l-27.71 48L73.91 5H84.3l17.32 30 17.32-30h10.39zm58.91 12v9.69c-1-.29-2.06-.49-3.2-.49-5.81 0-10 4-10 10V51h-9V17h9v9.2c0-5.08 5.91-9.2 13.2-9.2z"
                        fill="white" />
                </svg>
            </a>
            <div class="flex hidden space-x-4 md:flex justify-end w-full pr-5 mr-4 text-white font-arima">
                <div class="hover:scale-x-110 ease-linear duration-300">
                    <a asp-controller="Articles" asp-action="Index">Artigos</a>
                </div>
                <div class="hover:scale-x-110 ease-linear duration-300">
                    <a asp-controller="Reviews" asp-action="Index">Review</a>
                </div>
                <div class="hover:scale-x-110 ease-linear duration-300">
                    <a asp-controller="About" asp-action="Index">Sobre</a>
                </div>
            </div>
            <div class="ml-1 w-full md:w-6">
                <a href="/search" passhref style="color:antiquewhite">
                    <i class="fa-solid fa-magnifying-glass hover:scale-x-110 ease-linear duration-300"
                        style="margin-right: 5rem;"></i>
                    @*<BsSearch className="hover:scale-x-110 hover:cursor-pointer ease-linear duration-300 float-right
                        mr-2"
                        color="white"
                        size={22} />*@
                </a>
            </div>
        </nav>
    </header>
    <div class="test">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="bg-neutral-900 w-full p-6">
            <div class="flex gap-4 place-content-center pb-4">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path
                            d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"
                            class="hover:fill-twitter-color hover:cursor-pointer" fill="white" size={30} />
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path
                            d="M11.984 16.815c2.596 0 4.706-2.111 4.706-4.707 0-1.409-.623-2.674-1.606-3.538-.346-.303-.735-.556-1.158-.748-.593-.27-1.249-.421-1.941-.421s-1.349.151-1.941.421c-.424.194-.814.447-1.158.749-.985.864-1.608 2.129-1.608 3.538 0 2.595 2.112 4.706 4.706 4.706zm.016-8.184c1.921 0 3.479 1.557 3.479 3.478 0 1.921-1.558 3.479-3.479 3.479s-3.479-1.557-3.479-3.479c0-1.921 1.558-3.478 3.479-3.478zm5.223.369h6.777v10.278c0 2.608-2.114 4.722-4.722 4.722h-14.493c-2.608 0-4.785-2.114-4.785-4.722v-10.278h6.747c-.544.913-.872 1.969-.872 3.109 0 3.374 2.735 6.109 6.109 6.109s6.109-2.735 6.109-6.109c.001-1.14-.327-2.196-.87-3.109zm2.055-9h-12.278v5h-1v-5h-1v5h-1v-4.923c-.346.057-.682.143-1 .27v4.653h-1v-4.102c-1.202.857-2 2.246-2 3.824v3.278h7.473c1.167-1.282 2.798-2 4.511-2 1.722 0 3.351.725 4.511 2h7.505v-3.278c0-2.608-2.114-4.722-4.722-4.722zm2.722 5.265c0 .406-.333.735-.745.735h-2.511c-.411 0-.744-.329-.744-.735v-2.53c0-.406.333-.735.744-.735h2.511c.412 0 .745.329.745.735v2.53z"
                            class="hover:fill-instagram-color hover:cursor-pointer" fill="white" size={30} />
                </div>
                <div class="hover:cursor-pointer">
                    <i class="fa-brands fa-youtube fa-xl"></i>
                </div>
            </div>
            <div class="">
                <div></div>
            </div>
            <div class="text-white font-inter text-sm flex place-content-center">
                © 2022 Vaulthief @if (signInManager.IsSignedIn(User))
                {
                    <a>- Usuário Logado @User.Identity.Name - </a>
                    <form method="post" asp-action="Logout" asp-controller="User">
                        <button type="submit" class="nav-link btn btn-link py-0" style="width: auto">
                            Logout
                        </button>
                    </form>
                }

            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>