@model ProjetoIntegrador.ViewModels.ArticleCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Articles</h4>
<hr />
<div class="min-h-screen relative flex place-content-center mt-10">
    <div class="col-md-4">
        <form class="w-full" enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group flex flex-col w-full mt-4">
                <label asp-for="TitleArticle" class="font-inter text-lg font-medium"></label>
                <input asp-for="TitleArticle" class="bg-red-200 rounded-md p-2 w-60" />
                <span asp-validation-for="TitleArticle" class="text-danger"></span>
            </div>
            <div class="form-group flex flex-col mt-4">
                <label asp-for="DescriptionArticle" class="font-inter text-lg font-medium"></label>

                <textarea asp-for="DescriptionArticle" class="bg-red-200 rounded-md p-2 max-w-lg"></textarea>

                <span asp-validation-for="DescriptionArticle" class="text-danger"></span>
            </div>
            <div class="form-group flex flex-col w-full mt-4">
                <label asp-for="ContentArticle" class="font-inter text-lg font-medium"></label>
                <textarea rows="5" cols="33" asp-for="ContentArticle" class="bg-red-200 rounded-md p-2 w-full max-w-full" ></textarea>
                <span asp-validation-for="ContentArticle" class="text-danger"></span>
            </div>
            <div class="form-group flex flex-col mt-4">
                <label asp-for="Photo" class="font-inter text-lg font-medium"></label>
                <div class="col-sm-10 mb-10">
                    <input asp-for="Photo" class="form-control custom-file-input " />
                    <label asp-for="Photo" class="file-input__label"><span>Upload file</span></label>
                </div>
            </div>
            <div class="form-group bg-green-400 w-20 rounded-full flex justify-center hover:cursor-pointer hover:scale-110">
                <input type="submit" value="Create" class="btn btn-primary font-inter hover:cursor-pointer" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
<script>
    $(document).ready(function () {
        $('.custom-file-input').on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).next('.custom-file-label').html(fileName);
        })
    });
</script>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
