@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Sobre";
}
<div class="min-h-screen">
    <h1 class="text-4xl font-semibold font-inter">O que é a Vaulthief?</h1>

    <div>
        <div>
            <p class="font-inter">
                Esse site foi criado com a proposta de ser um espaço para compartilhar sobre experiências e opniões do
                mundo
                dos games e afins.
            </p>
        </div>
        <div>
            <div>
                <p>Caso algo esteja fora do lugar, entre em contato por <strong>teste@gmail.com</strong></p>
            </div>
        </div>

        <div>
            <div>
                <h1 class="text-xl font-bold">

                    Algumas funcionalidades não estão disponiveis no momento
                </h1>

            </div>
        </div>
    </div>
</div>